.card {
  background-color: #293031;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
